.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.error {
  color: crimson;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  border: 2px solid crimson;
  border-radius: 5px;
  padding: 15px;
  width: fit-content;
}

.link {
  font-size: 14px;
}

.login {
  color: var(--btn);
}
