.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  padding: 7px 10px;
  border-radius: 10px;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textSoft);
}

.icon {
  /* background-color: brown; */
  margin-top: 5px;
}
