.container {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
  background-color: antiquewhite;
}

.loginImg {
  object-fit: contain;
}

.formContainer {
  flex: 1;
  background-color: var(--bgSoft);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 40px 50px 40px 50px;
  border-radius: 5px;
}
