.container {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.imgContainer {
  flex: 2;
  position: relative;
  height: 500px;
  /* background-color: antiquewhite; */
}

.loginImg {
  object-fit: contain;
}

.formContainer {
  flex: 1;
  background-color: var(--bgSoft);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 40px 50px 40px 50px;
  border-radius: 5px;
}

.oAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 3px solid var(--bg);
  color: #000;
  font-weight: bold;
  border-radius: 5px;
}

.oAuth:hover {
  background-color: var(--bg);
  color: azure;
  transform-origin: all 1s ease;
}
