.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.subTitle {
  font-size: 15px;
}

.title {
  background: linear-gradient(90deg, #0080ff, #d6dde2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  line-height: 60px;
}

.desc {
  font-size: 15px;
  line-height: 20px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.aboutImg {
  object-fit: contain;
}

@media (max-width: 1024px) {
  .container {
    gap: 35px;
  }

  .title {
    font-size: 39px;
  }

  .imgContainer {
    flex: 1;
    position: relative;
    height: 500px;
  }

  .aboutImg {
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: 32px;
  }

  .title {
    font-size: 35px;
  }

  .imgContainer {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
